body{
	background: #eadee1;
	color: #fff;
	font-family: arial, helvetica, san-serif;
	font-weight: 300;

}

#main{
	width: 100%;
	margin: auto;
}

.container{
	width: 80%;
	margin: auto;
}

*{
	margin: 0;
	border: 0;
	padding: 0;
}

header{
	background: #eadee1;
	padding: 10px 0;
}

.container img{
	width: 50px;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	font-family: arial black,gadget,san-serif;
	display: inline-block;
	padding-right: 60px;
	padding-top: 20px;
	position: relative;
}

nav a{
	text-decoration: none;
	color: #323232;
	text-transform: uppercase;
}

nav a:hover{
	color: #fff;
	font-weight: bold;
}

.banner{
	background-color: #eadee1;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    overflow: hidden;

}

.banner h1{
	font-family: fantasy;
	font-size: 15vw;
}

.banner p{
    font-size: 3vw
}

footer{
	text-align: center;
	background-color: #eadee1;
	color: #000;

}

.social img{
	width: 30px;
	margin-left: 10px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb{
    background-color: transparent;
    width: 0px;
}
